/*COLORS*/
:root{
    --BTNCOLOR : #000;
    --BTNHOVER: rgb(194, 70, 86);
    --BTNACTIVE:rgba(168, 146, 146, 0.884);
}

/*MENU*/
.menuButton{
    color: var(--BTNCOLOR);
}

.menuButton:hover{
    color: var(--BTNHOVER);
}

.menuButton:active{
    color: var(--BTNACTIVE);
}

/*HOURS*/
.hoursButton{
    color: var(--BTNCOLOR);
}

.hoursButton:hover{
    color: var(--BTNHOVER);
}
.hoursButton:active{
    color: var(--BTNACTIVE);
}

/*ABOUT*/
.aboutButton {
    color: var(--BTNCOLOR);
}
.aboutButton:hover{
    color:var(--BTNHOVER);
}
.aboutButton:active{
    color: var(--BTNACTIVE);
}

/*CONTACT*/
.contactbutton{
    color:var(--BTNCOLOR);
}
.contactbutton:hover{
    color: var(--BTNHOVER);
}
.contactbutton:active{
    color: var(--BTNACTIVE);
}

